name: Test - Blueprint 2 Firewall

on:
  workflow_dispatch:

jobs:
  firewall-hardening:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3

    - name: Authenticate to GCP
      uses: google-github-actions/auth@v2
      with:
        credentials_json: ${{ secrets.GCP_SA_KEY }}

    - name: Terraform Init
      working-directory: blueprints/firewall_hardening
      run: terraform init

    - name: Terraform Apply
      working-directory: blueprints/firewall_hardening
      run: terraform apply -auto-approve
