name: Test - Blueprint 4 Provisioning

on:
  workflow_dispatch:

jobs:
  provisioning:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install Ansible
      run: |
        sudo apt update
        sudo apt install -y ansible

    - name: Add SSH key
      run: |
        mkdir -p ~/.ssh
        echo "${{ secrets.GCP_SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
        chmod 600 ~/.ssh/id_rsa

    - name: Run Ansible Playbook
      run: |
        ansible-playbook -i blueprints/vm_provisioning/inventory \
                         blueprints/vm_provisioning/provision.yml
